/*
  Modern CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/




h1 {
    font-size: 40px;
    color: #FFEAD7;
    font-family: 'Oswald', sans-serif;
}

h3 {
    font-size: 30px;
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
}

p {
    font-size: 20px;
    color: #FFEAD7;
    font-family: 'Cormorant Garamond', serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    border: 0px solid #F47E20;
    color: #6D3522;
  }

  th, td {
    text-align: left;
    padding: 8px;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
  }

img{
    float: center;
    max-width: 100%;
  }

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    margin: 2px;
    flex: 1 100%;
    border-radius: 8px;
}

.menu {
    background: #82A040;
    height: 90px;
    text-align: left;
    padding-left: 20px;
}

.header {
    background: tomato;
    height: 300px;
    text-align: left;
    background-image: url("https://images.pexels.com/photos/302899/pexels-photo-302899.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 50px;
}

.footer {
    background: #82A040;
    height: 90px;
    text-align: left;
    padding-left: 20px;
}

.info {
    background: #FFEAD7;
    height: 160px;
    text-align: left;
    padding-left: 50px;
}

.main {
    text-align: left;
    background: #FFEAD7;
    height: 850px;
    font-size: 24px;
    padding-left: 20px;
}

.aside1 {
    text-align: left;
    background: #FFEAD7;
    height: 850px;
    font-size: 24px;
    padding-left: 20px;
}

.aside2 {
    text-align: left;
    background: #FFEAD7;
    height: 850px;
    font-size: 24px;
    padding-left: 20px;
}

@media all and (min-width: 800px) {
    .main {
        flex: 3;
    }

    .aside1 {
        order: 3;
    }

    .aside2 { 
        order: 4;
    }
    .main {
        order: 2;
    }
    .footer {
        order: 4;
    }
    .info {
        order: 5;
    }
}

@media all and (min-width: 600px) {
    .aside {
        flex: 3;
    }
}